# Task-1 Big Mart
- Exploratory Data Analysis
- Predictive modle to predict the sales of each product at a proper outlet
- Buying pattern of customers in their respective cities/outlets

## 1. Exploratory Data Analysis

**Importing Libraries**

In [149]:
import numpy as np
import pandas as pd
import seaborn as sns  # Visual Representation
import matplotlib.pyplot as plt

**Loading the testing (test.csv) and training (train.csv) data stored inside the folder 'data'.**

In [150]:
train_data = pd.read_csv("./data/train.csv")
test_data = pd.read_csv("./data/test.csv")

***Understanding the dataset***

**1. Observing the first five rows of the dataset**

In [151]:
train_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.30,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.92,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.50,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.20,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.93,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052

In [152]:
test_data.head()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
0,FDW58,20.750,Low Fat,0.007565,Snack Foods,107.8622,OUT049,1999,Medium,Tier 1,Supermarket Type1
1,FDW14,8.300,reg,0.038428,Dairy,87.3198,OUT017,2007,NaN,Tier 2,Supermarket Type1
2,NCN55,14.600,Low Fat,0.099575,Others,241.7538,OUT010,1998,NaN,Tier 3,Grocery Store
3,FDQ58,7.315,Low Fat,0.015388,Snack Foods,155.0340,OUT017,2007,NaN,Tier 2,Supermarket Type1
4,FDY38,NaN,Regular,0.118599,Dairy,234.2300,OUT027,1985,Medium,Tier 3,Supermarket Type3

**2. Observing the last five rows of the datset**

In [153]:
train_data.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
8518,FDF22,6.865,Low Fat,0.056783,Snack Foods,214.5218,OUT013,1987,High,Tier 3,Supermarket Type1,2778.3834
8519,FDS36,8.380,Regular,0.046982,Baking Goods,108.1570,OUT045,2002,NaN,Tier 2,Supermarket Type1,549.2850
8520,NCJ29,10.600,Low Fat,0.035186,Health and Hygiene,85.1224,OUT035,2004,Small,Tier 2,Supermarket Type1,1193.1136
8521,FDN46,7.210,Regular,0.145221,Snack Foods,103.1332,OUT018,2009,Medium,Tier 3,Supermarket Type2,1845.5976
8522,DRG01,14.800,Low Fat,0.044878,Soft Drinks,75.4670,OUT046,1997,Small,Tier 1,Supermarket Type1,765.6700

In [154]:
test_data.tail()

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type
5676,FDB58,10.5,Regular,0.013496,Snack Foods,141.3154,OUT046,1997,Small,Tier 1,Supermarket Type1
5677,FDD47,7.6,Regular,0.142991,Starchy Foods,169.1448,OUT018,2009,Medium,Tier 3,Supermarket Type2
5678,NCO17,10.0,Low Fat,0.073529,Health and Hygiene,118.7440,OUT045,2002,NaN,Tier 2,Supermarket Type1
5679,FDJ26,15.3,Regular,0.000000,Canned,214.6218,OUT017,2007,NaN,Tier 2,Supermarket Type1
5680,FDU37,9.5,Regular,0.104720,Canned,79.7960,OUT045,2002,NaN,Tier 2,Supermarket Type1

**3. Shape of the data i.e. number of rows and columns**

In [155]:
print(train_data.shape, "Training Data")
print(test_data.shape, "Testing Data")

(8523, 12) Training Data
(5681, 11) Testing Data

**4. Quick Summary of the dataset**

In [156]:
train_data.describe()  # Training Dataset

,Item_Weight,Item_Visibility,Item_MRP,Outlet_Establishment_Year,Item_Outlet_Sales
count,7060.000000,8523.000000,8523.000000,8523.000000,8523.000000
mean,12.857645,0.066132,140.992782,1997.831867,2181.288914
std,4.643456,0.051598,62.275067,8.371760,1706.499616
min,4.555000,0.000000,31.290000,1985.000000,33.290000
25%,8.773750,0.026989,93.826500,1987.000000,834.247400
50%,12.600000,0.053931,143.012800,1999.000000,1794.331000
75%,16.850000,0.094585,185.643700,2004.000000,3101.296400
max,21.350000,0.328391,266.888400,2009.000000,13086.964800

In [157]:
test_data.describe()  # Testing Dataset

       Item_Weight  Item_Visibility     Item_MRP  Outlet_Establishment_Year
count  4705.000000      5681.000000  5681.000000                5681.000000
mean     12.695633         0.065684   141.023273                1997.828903
std       4.664849         0.051252    61.809091                   8.372256
min       4.555000         0.000000    31.990000                1985.000000
25%       8.645000         0.027047    94.412000                1987.000000
50%      12.500000         0.054154   141.415400                1999.000000
75%      16.700000         0.093463   186.026600                2004.000000
max      21.350000         0.323637   266.588400                2009.000000

**5. Getting the basic info about the dataset like colums, non-null values and data type of the columns**

In [158]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            8523 non-null   object
 1   Item_Weight                7060 non-null   float64
 2   Item_Fat_Content           8523 non-null   object
 3   Item_Visibility            8523 non-null   float64
 4   Item_Type                  8523 non-null   object
 5   Item_MRP                   8523 non-null   float64
 6   Outlet_Identifier          8523 non-null   object
 7   Outlet_Establishment_Year  8523 non-null   int64
 8   Outlet_Size                6113 non-null   object
 9   Outlet_Location_Type       8523 non-null   object
 10  Outlet_Type                8523 non-null   object
 11  Item_Outlet_Sales          8523 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 799.2+ KB

In [159]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5681 entries, 0 to 5680
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Identifier            5681 non-null   object
 1   Item_Weight                4705 non-null   float64
 2   Item_Fat_Content           5681 non-null   object
 3   Item_Visibility            5681 non-null   float64
 4   Item_Type                  5681 non-null   object
 5   Item_MRP                   5681 non-null   float64
 6   Outlet_Identifier          5681 non-null   object
 7   Outlet_Establishment_Year  5681 non-null   int64
 8   Outlet_Size                4075 non-null   object
 9   Outlet_Location_Type       5681 non-null   object
 10  Outlet_Type                5681 non-null   object
dtypes: float64(3), int64(1), object(7)
memory usage: 488.3+ KB

**6. Getting the number of unique values from each columns**

In [160]:
train_data.nunique()

Item_Identifier              1559
Item_Weight                   415
Item_Fat_Content                5
Item_Visibility              7880
Item_Type                      16
Item_MRP                     5938
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
Item_Outlet_Sales            3493
dtype: int64

In [161]:
test_data.nunique()

Item_Identifier              1543
Item_Weight                   410
Item_Fat_Content                5
Item_Visibility              5277
Item_Type                      16
Item_MRP                     4402
Outlet_Identifier              10
Outlet_Establishment_Year       9
Outlet_Size                     3
Outlet_Location_Type            3
Outlet_Type                     4
dtype: int64

In [162]:
# Printing unique values of some of the selected columns
print("Item Fat Content : ", train_data['Item_Fat_Content'].unique(), "\n")
print("Item Type : ", train_data['Item_Type'].unique(), "\n")
print("Outlet Identifier : ", train_data['Outlet_Identifier'].unique(), "\n")
print("Outlet Establishment Year : ", train_data['Outlet_Establishment_Year'].unique(), "\n")
print("Outlet Size : ", train_data['Outlet_Size'].unique(), "\n")
print("Outlet Location Type : ", train_data['Outlet_Location_Type'].unique(), "\n")
print("Outlet Type : ", train_data['Outlet_Type'].unique(), "\n")

Item Fat Content :  ['Low Fat' 'Regular' 'low fat' 'LF' 'reg']

Item Type :  ['Dairy' 'Soft Drinks' 'Meat' 'Fruits and Vegetables' 'Household'
 'Baking Goods' 'Snack Foods' 'Frozen Foods' 'Breakfast'
 'Health and Hygiene' 'Hard Drinks' 'Canned' 'Breads' 'Starchy Foods'
 'Others' 'Seafood']

Outlet Identifier :  ['OUT049' 'OUT018' 'OUT010' 'OUT013' 'OUT027' 'OUT045' 'OUT017' 'OUT046'
 'OUT035' 'OUT019']

Outlet Establishment Year :  [1999 2009 1998 1987 1985 2002 2007 1997 2004]

Outlet Size :  ['Medium' nan 'High' 'Small']

Outlet Location Type :  ['Tier 1' 'Tier 3' 'Tier 2']

Outlet Type :  ['Supermarket Type1' 'Supermarket Type2' 'Grocery Store'
 'Supermarket Type3']

***Cleaning the Data***

**1.Checking if the dataset has missing values**

In [163]:
train_data.isnull().sum()

Item_Identifier                 0
Item_Weight                  1463
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  2410
Outlet_Location_Type            0
Outlet_Type                     0
Item_Outlet_Sales               0
dtype: int64

In [164]:
test_data.isnull().sum()

Item_Identifier                 0
Item_Weight                   976
Item_Fat_Content                0
Item_Visibility                 0
Item_Type                       0
Item_MRP                        0
Outlet_Identifier               0
Outlet_Establishment_Year       0
Outlet_Size                  1606
Outlet_Location_Type            0
Outlet_Type                     0
dtype: int64

**2. Dropping the rows containing missing data**

In [165]:
# Training Data

initial_rows = train_data.shape[0]  # Initial count of rows
train_data = train_data.dropna(axis=0, how='any')
# axis=0 -> Dropping rows having null values
# axis=1 -> Dropping columns having null values
# how="any" -> Drop the row/column if it has at least one or more null values
# how="all" -> Drop the row/column only if all the values are null values

print(train_data.isnull().sum())  # Checking the count of null values
final_rows = train_data.shape[0]  # count of rows after cleaning
print("\nRows Removed", initial_rows-final_rows)
print("New Shape : ", train_data.shape)

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
Item_Outlet_Sales            0
dtype: int64

Rows Removed 3873
New Shape :  (4650, 12)

In [166]:
# Testing Data

initial_rows = test_data.shape[0]  # Initial count of rows
test_data = test_data.dropna(axis=0, how='any')
# axis=0 -> Dropping rows having null values
# axis=1 -> Dropping columns having null values
# how="any" -> Drop the row/column if it has at least one or more null values
# how="all" -> Drop the row/column only if all the values are null values

print(test_data.isnull().sum())  # Checking the count of null values
final_rows = test_data.shape[0]  # count of rows after cleaning
print("\nRows Removed", initial_rows-final_rows)
print("New Shape : ", test_data.shape)

Item_Identifier              0
Item_Weight                  0
Item_Fat_Content             0
Item_Visibility              0
Item_Type                    0
Item_MRP                     0
Outlet_Identifier            0
Outlet_Establishment_Year    0
Outlet_Size                  0
Outlet_Location_Type         0
Outlet_Type                  0
dtype: int64

Rows Removed 2582
New Shape :  (3099, 11)

**3. Removing Columns which we don't require**

In [167]:
# Training Data

initial_columns = train_data.shape[1]  # Initial count of colums
train_data = train_data.drop(["Item_Identifier", "Outlet_Identifier"], axis=1)
# axis=0 -> Dropping rows
# axis=1 -> Dropping columns

final_columns = train_data.shape[1]  # count of columns after removing
print("Columns Removed", initial_columns-final_columns)
print("New Shape : ", train_data.shape, "\n")
train_data.info()

Columns Removed 2
New Shape :  (4650, 10)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4650 entries, 0 to 8522
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                4650 non-null   float64
 1   Item_Fat_Content           4650 non-null   object
 2   Item_Visibility            4650 non-null   float64
 3   Item_Type                  4650 non-null   object
 4   Item_MRP                   4650 non-null   float64
 5   Outlet_Establishment_Year  4650 non-null   int64
 6   Outlet_Size                4650 non-null   object
 7   Outlet_Location_Type       4650 non-null   object
 8   Outlet_Type                4650 non-null   object
 9   Item_Outlet_Sales          4650 non-null   float64
dtypes: float64(4), int64(1), object(5)
memory usage: 399.6+ KB

In [168]:
# Testing Data

initial_columns = test_data.shape[1]  # Initial count of colums
test_data = test_data.drop(["Item_Identifier", "Outlet_Identifier"], axis=1)
# axis=0 -> Dropping rows
# axis=1 -> Dropping columns

final_columns = test_data.shape[1]  # count of columns after removing
print("Columns Removed", initial_columns-final_columns)
print("New Shape : ", test_data.shape, "\n")
test_data.info()

Columns Removed 2
New Shape :  (3099, 9)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3099 entries, 0 to 5677
Data columns (total 9 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Item_Weight                3099 non-null   float64
 1   Item_Fat_Content           3099 non-null   object
 2   Item_Visibility            3099 non-null   float64
 3   Item_Type                  3099 non-null   object
 4   Item_MRP                   3099 non-null   float64
 5   Outlet_Establishment_Year  3099 non-null   int64
 6   Outlet_Size                3099 non-null   object
 7   Outlet_Location_Type       3099 non-null   object
 8   Outlet_Type                3099 non-null   object
dtypes: float64(3), int64(1), object(5)
memory usage: 242.1+ KB

**4. Handling Outliers**

**5. Replacing all object (string) values with int values**